<div class='container'>
  <div class'sixteen columns'>
    <h2>Create A Company</h2>
      <%= link_to "Get Started", new_user_registration_path, :class => 'button action' %>
    </div>
  <div class='five columns'>
    <h3>Find Parts</h3>
  </div>
  <div class='five columns'>
    <h3>Create a BOM</h3>
  </div>
  <div class='five columns'>
    <h3>Design Faster</h3>
  </div>
</div>
