<div class='container'>
  <div class'sixteen columns'>
    <h2>Create A Company</h2>
      <%= link_to "Get Started", new_user_registration_path, :class => 'button action' %>
    </div>
  <div class='five columns'>
    <h3>Find Parts</h3>
    <p>
      Looking for a specific part or want to get more information about available products?.  Upload drawings or photos and send a message that will reach the right vendors instantly.
    </p>
  </div>
  <div class='five columns'>
    <h3>Sell Parts</h3>
    <p>
      As a subscriber, you and other members of your company will have a feed of sales leads.  You can quickly respond to leads and even order your sales feed based on only the products in which you specialize.
    </p>
  </div>
  <div class='five columns'>
    <h3>Design Faster</h3>
    <p>
      This is just the beginning in a succession of tools aimed at easing the engineering design process.  We have a lot of ideas in the works but more importantly, we want to work with subscribers to develop just the right tool for every job.
    </p>
  </div>
</div>
