<div class="container">
  <%= link_to "Sales Feed", rfis_path, :class => 'nav-link' %>
  <%= link_to "Create RFI", new_rfi_path, :class => 'nav-link' %>
  <%= link_to "Sent RFIs", my_rfis_path, :class => 'nav-link' %>
  <%= link_to "Incoming", incoming_messages_path, :class => 'nav-link' %>
</div>
