<div class="sub-nav">
  <%= link_to "Sales Feed", rfis_path, :class => 'button' %>
  <%= link_to "Create RFI", new_rfi_path, :class => 'button' %>
  <%= link_to "Sent RFIs", my_rfis_path, :class => 'button' %>
  <%= link_to "Incoming", incoming_messages_path, :class => 'button' %>
</div>
