<%= render :partial => "rfi_header" %>
<div class='rfis'>
  <table class='rfis-table'>
    <% @rfis.each do |rfi, match| %>
      <td>
        <%= render :partial => "display_rfi_heading", :locals => { :rfi => rfi, :match => match } %>
      </td>
      <td>
        <%= render :partial => "display_attachments", :locals => { :rfi => rfi } %>
      </td>
    <% end %>
  </table>
</div>
