<% if @sent_rfis %>
  <% @sent_rfis.each do |rfi| %>
    <h4><%= link_to rfi.subject, rfi_path(rfi.id) %></h4><h3><%= "Responses - #{Rfi.find_all_by_parent_id(rfi.id).count}" %></h3>
    <% if rfi.attachments.count > 0 %>
      <% rfi.attachments.each do |attachment| %>
        <% if attachment.attachment_url =~ /(.jpg|.png)/ %>
          <%= link_to image_tag(attachment.attachment_url(:thumb)), attachment.attachment_url.to_s %>
        <% else %>
          <%= link_to attachment.attachment_url.to_s, attachment.attachment_url.to_s %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
