<div class='container'>
  <%= render :partial => "rfi_header" %>

  <div class='rfis'>
    <table class='rfis-table'>
      <% @sent_rfis.each do |rfi| %>
        <tr>
          <td>
            <div class='twelve columns'>
              <div class='rfi-subject'>
                <%= link_to subject_shortner(rfi.subject), rfi_path(rfi.id) %>
              </div>
            </div>
          </td>
          <td>
            <div class='four columns'>
              <%= "Responses - #{Rfi.find_all_by_parent_id(rfi.id).count}" %>
           </div>
          </td>
          <%= render :partial => "display_attachments", :locals => { :rfi => rfi } %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
